<a href="https://colab.research.google.com/github/BluePhantom-JN/Phonepay/blob/main/first_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [352]:
! git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

3 * 3
1. aggregagte
2. map
3. top

        1. user
        2. transaction
        3. insurance

In [409]:
def extract_transaction_data(path):
  import os
  import json
  agg_state_list=os.listdir(path)

  for state in agg_state_list:
    p_state=path+state+'/'
    agg_year_list=os.listdir(p_state)

    for year in agg_year_list:
      p_year=p_state+year+'/'
      agg_quater_list=os.listdir(p_year)

      for quater in agg_quater_list:
        p_quater=p_year+quater

        with open (p_quater,'r')as data:
          D=json.load(data)
        yield state,year,int(quater.strip(".json")),D    # yield each set at a time
        data.close()

In [411]:
# 1*1 agrregated/transaction

path="/content/pulse/data/aggregated/transaction/country/india/state/"     # aggregate  1. Transaction
import pandas as pd
clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for state,year,quater,D in extract_transaction_data(path):

  # if D.get('data') and D['data'].get('transactionData') is not None:
  user_data=D.get("data",{}).get("transactionData")
  if user_data:

    for z in D['data']['transactionData']:
      clm['State'].append(state)
      clm['Year'].append(year)
      clm['Quater'].append(quater)

      Transacion_type=z['name']
      count=z['paymentInstruments'][0]['count']
      amount=z['paymentInstruments'][0]['amount']
      clm['Transacion_type'].append(Transacion_type)
      clm['Transacion_count'].append(count)
      clm['Transacion_amount'].append(int(amount))

aggr_trans=pd.DataFrame(clm)
#aggr_trans

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,chandigarh,2018,1,Recharge & bill payments,201262,47479581
1,chandigarh,2018,1,Peer-to-peer payments,135136,527998849
2,chandigarh,2018,1,Merchant payments,21431,19477066
3,chandigarh,2018,1,Financial Services,8473,1865618
4,chandigarh,2018,1,Others,15593,16614305
...,...,...,...,...,...,...
5029,delhi,2023,4,Merchant payments,381250463,168766495844
5030,delhi,2023,4,Peer-to-peer payments,185276322,588131157564
5031,delhi,2023,4,Recharge & bill payments,30903762,41889435437
5032,delhi,2023,4,Financial Services,317005,501353917
5033,delhi,2023,4,Others,403194,361276587

In [390]:
# 1*2 aggregated/user/



      # Check if 'data' and 'usersByDevice' exist and are not None

                  #   if D.get('data') and D['data'].get('usersByDevice') is not None:

      # this code help in getting non null data


path="/content/pulse/data/aggregated/user/country/india/state/"
clm={'state':[],'year':[],'quater':[],'brand':[],'count':[],'percentage':[]}

import pandas as pd
for state,year,quater,D in extract_transaction_data(path):
      user_data=D.get('data',{}).get('usersByDevice')
      if user_data:
        for z in user_data:
          clm['state'].append(state)
          clm['year'].append(year)
          clm['quater'].append(quater)

          clm['brand'].append(z['brand'])
          clm['count'].append(z['count'])
          clm['percentage'].append(z['percentage'])

aggre_user=pd.DataFrame(clm)
#aggre_user

In [308]:
'''path="/content/pulse/data/aggregated/user/country/india/2018/1.json"
with open(path,'r') as data:
  D=json.load(data)
D'''

'path="/content/pulse/data/aggregated/user/country/india/2018/1.json"\nwith open(path,\'r\') as data:\n  D=json.load(data)\nD'

In [392]:
# 1*3 aggregated/insurance

path = "/content/pulse/data/aggregated/insurance/country/india/state/"
clm = {'state':[],'year':[],'quater':[],'type':[],'count':[],'amount':[]}


for state,year,quater,D in extract_transaction_data(path):

        user_data=D['data']['transactionData']
        #user_data=D.get('data',{}).get('transactionData')
        if user_data:
          for z in user_data:
            clm['state'].append(state)
            clm['year'].append(year)
            clm['quater'].append(quater)

            clm['type'].append(z['paymentInstruments'][0]['type'])
            clm['count'].append(z['paymentInstruments'][0]['count'])
            clm['amount'].append(z['paymentInstruments'][0]['amount'])

aggre_insurance=pd.DataFrame(clm)
#aggre_insurance

In [395]:
# 2*1 map/insurance


path = "/content/pulse/data/map/insurance/country/india/state/"

clm = {'state':[],'year':[],'quater':[],'lat':[],'lng':[],'metric':[],'label':[]}

for state,year,quater,D in extract_transaction_data(path):
        user_data=D['data']['data']['data']
        if user_data:

          for z in user_data:
            clm['state'].append(state)
            clm['year'].append(year)
            clm['quater'].append(quater)

            clm['lat'].append(float(z[0]))
            clm['lng'].append(float(z[1]))
            clm['metric'].append(z[2])
            clm['label'].append(z[3])

map_insurance=pd.DataFrame(clm)
#map_insurance

In [311]:
'''path = "/content/pulse/data/map/insurance/country/india/state/andaman-&-nicobar-islands/2020/2.json"
with open(path ,'r') as data:
  d=json.load(data)
d'''

'path = "/content/pulse/data/map/insurance/country/india/state/andaman-&-nicobar-islands/2020/2.json"\nwith open(path ,\'r\') as data:\n  d=json.load(data)\nd'

In [398]:
# 2*2 map/transaction/

path ="/content/pulse/data/map/transaction/hover/country/india/state/"
clm = {'state':[],'year':[],'quater':[],'dist_name':[],'type':[],'count':[],'ammount':[]}

for state,year,quater,D in extract_transaction_data(path):
        user_data=D['data']['hoverDataList']
        # data is in list[list[data]] so use for loop to extract data
        for x in user_data:
          for y in x['metric']:
            clm['state'].append(state)
            clm['year'].append(year)
            clm['quater'].append(quater)

            clm['dist_name'].append(x['name'])
            clm['type'].append(y['type'])
            clm['count'].append(y['count'])
            clm['ammount'].append(int(y['amount']))

map_transaction=pd.DataFrame(clm)
#map_transaction

In [313]:
'''path ="/content/pulse/data/map/transaction/hover/country/india/state/andaman-&-nicobar-islands/2018/1.json"
with open (path ,'r') as data :
  D=json.load(data)
D'''

'path ="/content/pulse/data/map/transaction/hover/country/india/state/andaman-&-nicobar-islands/2018/1.json"\nwith open (path ,\'r\') as data :\n  D=json.load(data)\nD'

In [402]:
# 2*3 map/user

path ="/content/pulse/data/map/user/hover/country/india/state/"

clm = {'state':[],'year':[],'quater':[],'dist_name':[],'registeredUsers':[],'appOpen':[]}
for state,year,quater,D in extract_transaction_data(path):
        user_data=D['data']['hoverData']
        # data is in list[list[data]] so use for loop to extract data

        for dist_name,metrics in user_data.items():
          registereduser=metrics['registeredUsers']
          appOpen=metrics['appOpens']
          clm['state'].append(i)
          clm['year'].append(j)
          clm['quater'].append(quater)
          clm['dist_name'].append(dist_name)
          clm['registeredUsers'].append(registereduser)
          clm['appOpen'].append(appOpen)


map_user=pd.DataFrame(clm)
#map_user

In [315]:
'''path="/content/pulse/data/map/user/hover/country/india/state/andaman-&-nicobar-islands/2018/1.json"
with open (path ,"r")as data:
  D=json.load(data)
D
'''

'path="/content/pulse/data/map/user/hover/country/india/state/andaman-&-nicobar-islands/2018/1.json"\nwith open (path ,"r")as data:\n  D=json.load(data)\nD\n'

In [404]:
# 3*1 top/insurance
path = "/content/pulse/data/top/insurance/country/india/state/"
clm = {'state':[],'year':[],'quater':[],'dist_name':[],'count':[],'ammount':[] }

for state,year,quater,D in extract_transaction_data(path):
        user_data=D['data']['districts']
        for dist in user_data:

          clm['state'].append(state)
          clm['year'].append(year)
          clm['quater'].append(quater)

          clm['dist_name'].append(dist['entityName'])
          clm['count'].append(dist['metric']['count'])
          clm['ammount'].append(dist['metric']['amount'])

top_insurance=pd.DataFrame(clm)
#top_insurance

In [320]:
'''path ='/content/pulse/data/top/insurance/country/india/state/andaman-&-nicobar-islands/2020/2.json'

with open (path ,'r')as data:
  D=json.load(data)
D
'''

"path ='/content/pulse/data/top/insurance/country/india/state/andaman-&-nicobar-islands/2020/2.json'\n\nwith open (path ,'r')as data:\n  D=json.load(data)\nD\n"

In [406]:
# 3*2  top/transaction

path ="/content/pulse/data/top/transaction/country/india/state/"

clm = {'state':[],'year':[],'quater':[],'dist_name':[],'count':[],'trans_amount':[]}

for state,year,quater,D in extract_transaction_data(path):
        user_data=D['data']['districts']
        for x in user_data:

          clm['state'].append(state)
          clm['year'].append(year)
          clm['quater'].append(quater)

          clm['count'].append(x['metric']['count'])
          clm['trans_amount'].append(int(x['metric']['amount']))
          clm['dist_name'].append(x['entityName'])

top_transaction=pd.DataFrame(clm)
#top_transaction

In [340]:
'''path ="/content/pulse/data/top/transaction/country/india/state/andaman-&-nicobar-islands/2018/1.json"
with open (path ,'r') as data:
  D=json.load(data)
D
'''

'path ="/content/pulse/data/top/transaction/country/india/state/andaman-&-nicobar-islands/2018/1.json"\nwith open (path ,\'r\') as data:\n  D=json.load(data)\nD\n'

In [408]:
# 3*3 top/user

path ="/content/pulse/data/top/user/country/india/state/"

clm = {'state':[],'year':[],'quater':[],'dist_name':[],'registeredUsers':[]}

for state,year,quater,D in extract_transaction_data(path):
        user_data=D['data']['districts']
        for x in user_data:

          clm['state'].append(state)
          clm['year'].append(year)
          clm['quater'].append(quater)

          clm['dist_name'].append(x['name'])
          clm['registeredUsers'].append(x['registeredUsers'])

top_user=pd.DataFrame(clm)
#top_user

In [351]:
'''path ="/content/pulse/data/top/user/country/india/state/andaman-&-nicobar-islands/2018/1.json"

with open (path ,'r') as data:
  D=json.load(data)

D'''

'path ="/content/pulse/data/top/user/country/india/state/andaman-&-nicobar-islands/2018/1.json"\n\nwith open (path ,\'r\') as data:\n  D=json.load(data)\n\nD'